@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
    --primary: #1a855c;
    --secondary: #1a6649;
}

h1,
h2,
h3,
h4 {
    font-family: "Merienda", cursive;
}

h1,
h2 {
    font-weight: 700;
}

body {
    background-color: #eee;
}

header {
    background-color: var(--primary);
    color: #fff;
    .logo {
        color: #f17b99;
        transform: rotate(15deg);
    }
    .nav li.active,
    .nav li:hover {
        background-color: var(--secondary);
    }
    .nav li {
        padding-block: 5px;
        border-block: 1px solid var(--secondary);
        height: 100%;
        width: 100%;
        display: flex;
        a {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 18px;
            padding-block: 5px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .nav li:first-of-type {
        border-top-width: 2px;
    }
    .nav li:last-of-type {
        border-bottom-width: 2px;
    }
}

footer {
    background-color: var(--primary);
    color: #fff;
}
